* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

button {
  border: 0;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.repository-list {
  padding: 40px;
}
.repository-list li {
  flex: 1;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.repository-list li button {
  font-weight: 400;
  color: #7159c1;
  transition: font-weight 0.2s;
}
.repository-list li button:hover {
  font-weight: 600;
}
.repository-list li button svg {
  margin-left: 5px;
}

form {
  display: flex;
  align-items: center;
  padding: 20px;
}
form fieldset {
  border: 0;
}
form .field-group {
  flex: 1;
  display: flex;
}
form .field-group .field {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
form .field-group .field label {
  margin-bottom: 10px;
}
form .field-group .field input {
  flex: 1;
  background: #fff;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
}
form .field-group .field-group .field + .field {
  margin-left: 24px;
}
form button {
  margin-left: 40px;
  background: #7159c1;
  transition: background-color 0.2s;
}
form button:hover {
  background: #2fb86e;
}
